.cart {
  position: fixed;
  top: 4rem;
  right: -20rem;
  width: 20rem;
  height: 100vh;
  background-color: white;
  border: 3px solid #213e7f;
  transition: all 0.3s;
  box-sizing: border-box;
}

.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 0.4rem;
  box-sizing: border-box  ;
}

.items-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.items-title{
  font-size: 12px;
  font-weight: bold;
}
.items-count{
  width: 3rem;
}
